<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
	<meta charset="utf-8">
	<title>Instagram stories Downlaoder</title>
	<meta name="description" content="View anyone's Instadp for free in full size. Instagram profile picture viewer lets you zoom in on any Insta dp in original size, even private profiles.">
	<base href="https://www.instadp.com/">

<meta name="viewport" content="width=device-width, user-scalable=no">
<meta property="og:image" content="images/facebook-share.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="images/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="theme-color" content="#FFFFFF">
<meta name="msapplication-navbutton-color" content="#FFFFFF">
<meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
<meta name="apple-itunes-app" content="app-id=651309421">
<link rel="stylesheet" href="styles/styles.css?v=27">
<script src="scripts/jquery.js?v=5"></script>
<script src="scripts/functions.js?v=8"></script>
<script src="scripts/cookie.js?v=10"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
	<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "BreadcrumbList",
	  "itemListElement": [{
	    "@type": "ListItem",
	    "position": 1,
	    "item": {
	      "@id": "https://www.instadp.com/",
	      "name": "Instadp"
	    }
	  }]
	}
	</script>

	
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3398778452569287" crossorigin="anonymous"></script>
    <title>instagram stories Downloader</title>
    <style>
    #hd{
      background-image: url("{% static 's.png' %}");
      background-size:     contain;                      /* <------ */
      background-repeat:   no-repeat;
      background-position: center center; 
      height: 300px;
    }
    #n{
      color:red;
    }
      #link{visibility:hidden;}
      #link{visibility:{{display}};}
    img{
      width:100%;
      height: 98%;
    }
    @media only screen and (min-width: 768px) {
    label{
      font-size:23px;
    }
    #had{
      color:green;
      font-size: 40px;
    }
}
    </style>
</head>


<body class="darkmode">



<div class="nav-skeleton"></div>

<header class="nav">
	<div class="centered">
		<a class="logo-btn" href="/">Instgram Downloaders</a>
		<div class="menu-btn"></div>
	</div>
</header>

<script type="text/javascript">
$(document).ready(function() {
	function sticktothetop() {
	    var window_top = $(window).scrollTop();
	    var top = $('.nav-skeleton').offset().top;
	    if (window_top > top) {
	        $('body').addClass('scrolled');
	        $('.nav-skeleton').height(44);
	    } else {
	        $('body').removeClass('scrolled');
	        $('.nav-skeleton').height(1);
	    }
	}
	$(function() {
	    $(window).scroll(sticktothetop);
	    sticktothetop();
	});
});
</script>

<!-- Content -->
<div>
    <center><h2>Instagram Stories Downlloader</h2></center>
</div>
<br><br>
<form action="{% url 'story_submit' %}" method="post">
    {% csrf_token %}
  <center><label for="exampleFormControlInput1" class="form-label">Enter your favourite Account name:</label></center>
  <input type="text" name="fa" class="form-control" id="exampleFormControlInput1" placeholder="Enter any instagram account name to download his stories..eg.,wariors"><br>
  <br><br><center><input type="submit" class="btn btn-primary" onclick="alert()" value="Download instagram stories"></center></form>
</div>
</div> <br>
<center> <h3 id="n"></h3></center>
<div class="alert alert-success" role="alert">
<p id="txt" >{{a}}</p>
</div>

<div>

<center><a href="{{b}}" id="link" class="btn btn-dark" download="{{account}} instagram stories.zip" class="text-danger" style="text-decoration:none;font-size:50px;color:bg-danger;font-family:Lucida Console,"Courier New",Fantasy, monospace;">Download Now</a></center>

</div>

<div class="page">
	<div class="centered">

		<div class="header">
			<h1 class="heading">Download Instagram Profile Pictures, images ,video  and Save Stories with Buttons.</h1>
			<p class="desc">Search your Favourite and download Instagram profile pictures, stories, videos, and more</p>
		</div>



		<div class="tools-list">

			<div class="tools-header">
				<h2 class="heading">Instagram Downloader Tools for Free</h2>
				<p class="desc">Use our Instagram downloader tools to Download the best photos and videos to your storage or computer for free in high quality and use it anywhere.</p>
			</div>

			<div class="list">
				<div class="tool profile-pictures"><a class="link" href="https://instagramdownloadertools.herokuapp.com/profile"><i class="icon"></i><span class="title">Profile Pictures Downloader</span><div class="arrow"></div></a><i class="bg-icon"></i></div>
				<div class="tool instagram-videos"><a class="link" href="https://instagramdownloadertools.herokuapp.com/post"><i class="icon"></i><span class="title">Instagram Videos Downloader</span><div class="arrow"></div></a><i class="bg-icon"></i></div>
				<div class="tool instagram-photos"><a class="link" href="https://instagramdownloadertools.herokuapp.com/post"><i class="icon"></i><span class="title">Instagram Photos Downloader</span><div class="arrow"></div></a><i class="bg-icon"></i></div>
				<div class="tool instagram-stories"><a class="link" href="https://instagramdownloadertools.herokuapp.com"><i class="icon"></i><span class="title">Instagram Stories Downloader</span><div class="arrow"></div></a><i class="bg-icon"></i></div>
			</div>

			<div class="tools-header">
				<h2 class="heading">Other Useful Tools</h2>
				<p class="desc">Use our Other downloader tools to save your favorite videos to your phone or computer quickly and easily.You will find more instagram,youtube and useful tools to lessen your burden.</p>
			</div>

			<div class="list">
				<div class="tool tiktok-videos"><a class="link" href="https://free-unlimited-tools.blogspot.com/"><i class="icon"></i><span class="title">Free Unlimited Tools</span><div class="arrow"></div></a><i class="bg-icon"></i></div>
			</div>

		</div>



		<div class="content">
			<h2 class="heading">Download Instagram Profile Pictures</h2>
			<p>Do you want to view any instagramer profile picture in full size on Instagram but couldn’t figure out how to do it? Instagram Downloader solves this issue! Instagram Downloader tool is a free and providng service allowing anyone to search for an account and view the user’s profile picture in high quality and just one click.</p>
			<p>With all the features Instagram offers, the site is restricted on this crucial detail—the minuscule profile picture. Having the option to set your profile as private and choose any name as your username limits the information others receive about your account. Without the option of enlarging the profile picture to get a clear view of the face displayed, people who are picky about their followers can become frustrated. Instead of wasting time asking your friends or family to help identify an unknown user, try InstaDP to make your life easier. Our website lets you quickly download and zoom in on the profile picture in its original size. To make the process even faster, you can download our app Qeek for Instagram on iOS or Android.</p>
			<p>Whether you prefer to use our app or website, InstaDP.com, you will still be getting a great user experience. We designed our website to be mobile friendly and look great on any device, so you can search usernames on your iPhone or Android and receive the same full-size, HD Insta DP.</p>
			<p>With over 1 billion active users on Instagram, our advanced search bar allows you to find any account, even if you are unsure of the exact username. Give it a try and see how easy it is to use!</p>

			<h2 class="heading">Why Use Instagram Downloader tools?</h2>
			<p>We are free,Therfore we a re best!,There is more than one reason why someone would want to use InstaDP to download a profile picture. Out of the numerous accounts registered with Instagram, finding your friend’s account could prove more difficult than expected, especially if the profile is set to private. A private account will only provide basic information (if the user chooses to disclose it), a username that might be similar to other accounts, and the profile picture. If the profile picture contains any hint of the user’s identity, even if it’s a tiny profile view of their face, then the picture would be the best way to identify the owner of a private account. You can squint at the picture for hours trying to discern any unique details, or in mere seconds, you can search their username in InstaDP to download their photo and instantly receive the full-size profile picture.  If it’s a great photo, you can also save it onto your phone.</p>
			<p>If users receive a follow from an unidentifiable private account, they will be hesitant in following the account or may even choose to remove the follower if they knew the identity, which is another way InstaDP would help simplify your social media life.</p>
			<p>Whether you’re trying to find out who recently sent you a follower request or you’re trying to save your crush’s profile picture onto your phone, InstaDP allows you to quickly and conveniently view full-size profile pictures just by searching the username.</p>
			<p>Thank you for visiting our website. If you have any questions, feel free to Contact Us. Search our website privately and securely to view and zoom in on any Insta DP. No sign in required. Bookmark our webpage to see Instagram profile pictures anytime</p>

			<h2 class="heading">Want to Download Instagram Stories?</a></h3>
			<p>If you’re trying to download all Instagram stories that one of your friends or favorite celebrities posted, there is no way to do it on Instagram. But you can do it easily with our <a href="https://instagramdownloadertools.herokuapp.com">Instagram Story Download</a> tool. Similar to <a href="storiesig">Storiesig</a> you simply enter your friends username and search!</p>


		</div>


		<!-- Top Instagram Profiles -->
<!-- Sidebar -->
<div class="sidebar">

	<a href="" class="logo">Instadp</a>

	<span class="title">Menu</span>
	<ul class="menu-list">
		<li class="item"><a class="link" href=""><i class="icon home"></i>Home</a>
		<li class="item"><a class="link" href="https://instagramdownloadertools.herokuapp.com/"><i class="icon tips"></i>instagram stories Downloader</a>
		<li class="item"><a class="link" href="https://instagramdownloadertools.herokuapp.com/post"><i class="icon contact"></i>Instagram Posts Downloader</a>
		<li class="item"><a class="link" href="https://instagramdownloadertools.herokuapp.com/profile"><i class="icon contact"></i>Instagram DP Downloader</a>
	</ul>

	<span class="title">Tools</span>
	<ul class="tools-list">
		<li class="item"><a class="link" href="https://instagramdownloadertools.herokuapp.com/"><i class="icon instagram"></i>Instagram Tools</a>

	</ul>

	<div class="darkmode-options">
		<div class="text">Dark Mode</div>
		<div class="button">
			<label class="switch">
				<input class="checkbox" type="checkbox" checked>
				<span class="slider round"></span>
			</label>
		</div>
	</div>

</div>

<div class="prevent-click"></div>

<script type="text/javascript">
$(document).ready(function() {
	$('.menu-btn').click(function() {
	  $('body').addClass('sb-toggled');
	  $('.prevent-click').fadeIn();
	});
	$('body .prevent-click').click(function() {
	  $('body').removeClass('sb-toggled');
	  $('.prevent-click').fadeOut();
	});
	$('.search-history .toggle-bar').click(function() {
	  $('.search-history').toggleClass('toggled');
	});
	$('.darkmode-options .button .switch input').change(function() {
		if(this.checked) {
			_addCookie('1', 'dark_mode');
			$('body').addClass('darkmode');
		} else {
			_addCookie('0', 'dark_mode');
			$('body').removeClass('darkmode');
		}
	});
});
</script>


<!-- Footer -->
<footer class="footer">
	<div class="centered">
		<div class="section-1">
			<a class="logo" href="/">Instagram Downloader tool</a>
					</div>
		<div class="section-2">
			<div class="links"><a href="instagram-tools">Instagram Downloader</a> | <a href="https://instagramdownloadertools.herokuapp.com/">Instagram Downloader</a> | <a href="https://instagramdownloadertools.herokuapp.com/profile">Instagram Dp Downloader</a> | <a href="https://instagramdownloadertools.herokuapp.com">Instagram Stories Downloader</a> | <a href="https://instagramdownloadertools.herokuapp.com/post">Download Instagram images</a> | <a href="https://instagramdownloadertools.herokuapp.com/post">Instagram videos downloader</a> | <a href="https://instagramdownloadertools.herokuapp.com/">Instagram story viewer</a>	<div class="disclaimer">Instgram Downloader tool is not affiliated with Instagram&trade;<br>We do not host any Instagram content.</div>
		</div>
	</div>
</footer>

<!-- Scripts -->
<script type="text/javascript">
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-45158477-5', 'auto');

	var trackOutLink = function(url) {
		ga('send', 'event', 'outbound', 'click', url, {
		'transport': 'beacon',
		'hitCallback': function(){document.location = url;}
	   });
	}
</script>
<script type="text/javascript">
	ga('send', 'pageview', '/');
</script>

<a id="a" href="#link"></a>
<a id="j" href="#n"></a>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<script>
 function alert(){

  document.getElementById("txt").innerText="";
  document.getElementById("n").innerText="Fetching instagram stories........";
  document.getElementById("link").style.visibility="hidden";
  document.getElementById('j').click();
  
 }
  
window.onload=function(){
if(document.getElementById("txt").innerText!=""){
  document.getElementById('a').click();
}
}
</script>

</body>
</html>
